*{
    border: 2px solid blue;
    padding: 3px;
}

.headerNav, .footerNav {
    display: inline-block;
    margin-right: 2%;
}

li:hover{
    color: purple;
    font-size: larger;
}

li:nth-child(3) {
    color: green;
    font-weight: 700;
  }
  

img {
    border-radius: 70px;
}

aside {
    width: 50%;
    padding-left: 2%;
    margin-left: 2%;
    float: right;
    box-shadow: inset 7px 0 7px -7px green;
    font-style: italic;
    font-size: large;
    color: green;
}

aside > p {
    margin: 2%;
}

#imgCaption{
    font-style: italic;
}

#highlight{
    background-color: rgb(238, 238, 98);
}

#avatar{
    border: 2px solid yellow;
}

#title{
    background-color: thistle;
}

#quoteBox{
    background-color: turquoise;
    font-style: italic;
}

section p{
    font-weight: bold;
}

section > h2{
    color: lightseagreen;
}

footer{
    position: sticky;
}