* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}



.header-bgLight{
    background-image: url("images/bg-desktop-light.jpg");
    height: 400px;
    min-width: 1440px;
}

.header-bgDark{
    background-image: url("images/bg-desktop-dark.jpg");
    min-height: 400px;
    min-width: 1440px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

input[type="submit"]{
    display: none;
}

.completion-status-true{
    border: 1px solid blue;
    width: 15px; 
    height: 15px;
    display: inline-block;
    border-radius: 7px;
    background-image: url("images/checked.png");
}

.completion-status-false{
    border: solid 1px blue;
    width: 15px; 
    height: 15px;
    display: inline-block;
    border-radius: 7px;
}