.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* input[type="submit"]{
    display: none;
} */

.completion-status-true{
    border: 1px solid blue;
    width: 10px; 
    border-radius: 5px;
    background-image: url("images/icon-check.svg");
}

.completion-status-false{
    border: solid 1px blue;
    width: 10px; 
    border-radius: 5px;
}