.mainCol{
    background-color: var(--color_dark_blue);
    min-height: 1200;
    padding: 20px;
    text-align: center;
}

.startGameContainer{
    background-color: var(--color_dark_blue);
    min-height: 1200;

}

.scenarioBtn{
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
}