* {
    font-family: 'Signika', sans-serif;
}

ul li{
    display: inline-block;
}

.daysReveal {
    border: 1px solid gray;
    padding: 3px;
    background-color: lightblue;
}

.daysBetween {
    border: 1px solid gray;
    padding: 3px;
    background-color: lightblue;
}