.featuresContainer, .featuresCol, .featuresImg{
    height: 300px;
}

.featuresContainer{
    margin-bottom: 15px;
}
.featuresImg {
    width: 98%;
    /* margin: 2px; */
}

.featuresImgContainer{
    position: relative;
}

.featuredImgText{
    position: absolute;
    height: 40px;
    background-color: black;
    opacity: 0.5;
    bottom: 10px;
}
/* img {
    height:90%;
} */