.featuresContainer, .featuresCol, .featuresImg{
    height: 300px;
}

.featuresContainer{
    margin-bottom: 15px;
}
.featuresImg {
    width: 98%;
    /* margin: 2px; */
}

/* img {
    height:90%;
} */