<section>
    <div class="row">
        <div class="col-md-9">
          <div class="list-group-flush" id="list-tab" role="tablist">
            <a
              class="list-group-item list-group-item-action"
              id="list-all-list"
              data-mdb-toggle="list"
              routerLink="/browse"
              role="tab"
              aria-controls="list-all"
              >All</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-tops-list"
              data-mdb-toggle="list"
              routerLink="/browse/tops-dresses"
              role="tab"
              aria-controls="list-tops"
              >Tops</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-dresses-list"
              data-mdb-toggle="list"
              routerLink="/browse/tops-dresses"
              role="tab"
              aria-controls="list-dresses"
              >Dresses</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-sets-list"
              data-mdb-toggle="list"
              routerLink="/browse/sets"
              role="tab"
              aria-controls="list-sets"
              >Sets</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-shoes-list"
              data-mdb-toggle="list"
              routerLink="/browse/shoes"
              role="tab"
              aria-controls="list-shoes"
              >Shoes</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-accessories-list"
              data-mdb-toggle="list"
              routerLink="/browse/accessories"
              role="tab"
              aria-controls="list-accessories"
              >Accessories</a
            >
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show" id="list-all" role="tabpanel" aria-labelledby="list-all-list">
              ...
            </div>
            <div class="tab-pane fade" id="list-tops" role="tabpanel" aria-labelledby="list-tops-list">
              ...
            </div>
            <div class="tab-pane fade" id="list-dresses" role="tabpanel" aria-labelledby="list-dresses-list">
              ...
            </div>
            <div class="tab-pane fade" id="list-sets" role="tabpanel" aria-labelledby="list-sets-list">
              ...
            </div>
            <div class="tab-pane fade" id="list-shoes" role="tabpanel" aria-labelledby="list-shoes-list">
                ...
              </div>
            <div class="tab-pane fade" id="list-accessories" role="tabpanel" aria-labelledby="list-accessories-list">
                ...
            </div>
          </div>
        </div>
      </div>
</section>