body { 
    display: flex;
    flex-direction: row;
    background-color: #564592;
}

.imgCol{
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    margin: -10px 0 0 -10px;
}

.homeImg{
    height: 760px;
  
 } 

.homeImgTxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: white;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-size: 64px;
}

.row{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
}

.logo{
    display: flex;
    flex-direction: row;
    width: 155px;
    height: 78px;
}

button {
    display: block;
    margin-bottom: 10px;
}