<section>
  <div class="card text-center cardContainer" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{cardTitle1}}</h5>
      <p class="card-text">{{cardText1}}</p>
    </div>
  </div>
  <div class="card text-center cardContainer" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{cardTitle2}}</h5>
        <p class="card-text">{{cardText2}}</p>
    </div>
  </div>
  <div class="card text-center cardContainer" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{cardTitle3}}</h5>
        <p class="card-text">{{cardText3}}</p>
    </div>
  </div>
</section>